{% load i18n %}
{% load base_tags %}

<!-- start navbar account -->
<ul class="nav navbar-nav navbar-right">
  {% if user.is_authenticated %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {% fa_text "&laquo;"|add:user.username|add:"&raquo;" "user" %}
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a href="#{#% url "account_settings" %#}">{% fa_text "Profile" "user" %}</a>
        </li>
        {% if user.is_staff %}
          <li class="divider"></li>
          <li>
            <a href="{% url THEME_ADMIN_URL|default:"admin:index" %}">{% fa_text "Administration" "cog" %}</a>
          </li>
        {% endif %}
        <li class="divider"></li>
        <li>
          <a id="account_logout" href="{% url "auth_logout" %}">{% fa_text "Logout" "power-off" %}</a>
        </li>
      </ul>
    </li>
  {% else %}
    <li><a type="button" href="{% url "registration_register" %}">{% trans "Register" %}</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">
        {% trans "Login" %}
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{% url "django.contrib.auth.views.login" %}">
          <i class="fa fa-user"></i>
          {% trans "Login Page" %}
        </a></li>
        <li class="divider"></li>
        <li>
          <form class="navbar-form"
                method="post" role="form"
                action="{% url "auth_login" %}">
            {% csrf_token %}
            <div class="form-group">
              <label class="sr-only" for="topbar-username">Username</label>
              <input class="form-control" id="topbar-username" maxlength="254"
                     name="username" placeholder="Username"
                     required="required" title="" type="text">
            </div>
            <div class="form-group">
              <label class="sr-only" for="topbar-password">Password</label>
              <input class="form-control" id="topbar-password"
                     name="password" placeholder="Password"
                     required="required" title="" type="password">
            </div>
            <input type="hidden" name="next" value="{{ request.path }}"/>
            <button type="submit" class="btn btn-success btn-block">{% trans "Login" %}</button>
          </form>
        </li>
      </ul>
    </li>
  {% endif %}
</ul>
<!-- end navbar account -->
