{% load i18n %}

<!-- start navbar account -->
<ul class="nav navbar-nav navbar-right">
  {% if request.user.is_authenticated %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user"></i>
        &laquo;{{ user }}&raquo;
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#{#% url "account_settings" %#}">
          <i class="fa fa-user"></i>
          {% trans "Settings" %}
        </a></li>
        {% if user.is_staff %}
          <li class="divider"></li>
          <li><a href="{% url THEME_ADMIN_URL|default:"admin:index" %}">
            <i class="fa fa-cog"></i>
            {% trans "Administration" %}
          </a></li>
        {% endif %}
        <li class="divider"></li>
        <li><a id="account_logout" href="{% url "auth_logout" %}">
          <i class="fa fa-power-off"></i>
          {% trans "Logout" %}
        </a></li>
      </ul>
    </li>
  {% else %}
    {#    <li class="divider"></li>#}
    <li><a href="{% url "registration_register" %}">{% trans "Register" %}</a></li>
    {#    <li class="divider-vertical"></li>#}
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        {% trans "Login" %}
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu" role="menu">
        <form class="navbar-form"
              method="post" role="form"
              action="{% url "auth_login" %}">
          {% csrf_token %}
          <div class="form-group">
            <label class="sr-only" for="topbar-username">Username</label>
            <input class="form-control" id="topbar-username" maxlength="254"
                   name="username" placeholder="Username"
                   required="required" title="" type="text">
          </div>
          <div class="form-group">
            <label class="sr-only" for="topbar-password">Password</label>
            <input class="form-control" id="topbar-password"
                   name="password" placeholder="Password"
                   required="required" title="" type="password">
          </div>
          <input type="hidden" name="next" value="{% url "home" %}"/>
          <button type="submit" class="btn btn-success btn-block">{% trans "Login" %}</button>
        </form>
      </ul>
    </li>
  {% endif %}
</ul>
<!-- end navbar account -->
