<div id="mission">
  <p class="text-justify">Extracellular recordings are well a established method in the field of electrophysiology used
    to analyze the activity of local populations of neurons. Voltage traces are recorded from tissue with
    microelectrodes, where the firing of neurons is visible as characteristic discharge patterns, so called
    <em>spikes</em>. The process of finding the times (detection) and estimating the number and identity of neurons
    (classification) from the discharge patterns in the recorded voltage traces is called <em>spike sorting</em>.

  <div class="panel-group" role="tablist">
    <div class="panel panel-info">
      <div class="panel-heading" role="tab" id="literature-heading">
        <h5 class="panel-title">
          <a data-toggle="collapse" href="#literature" aria-expanded="true" aria-controls="literature">
            recommended literature
          </a>
        </h5>
      </div>
      <div id="literature" class="panel-collapse collapse" role="tabpanel" aria-labelledby="literature-heading"
           aria-expanded="true">
        <ul class="list-group">
          <li class="list-group-item">
            <blockquote style="font-size:1em; margin: auto;">
              <a href="http://informahealthcare.com/doi/abs/10.1088/0954-898X_9_4_001">
                &quot;A review of methods for spike sorting: the detection and classification of neural
                action
                potentials&quot;</a>
              <footer>
                M. S. Lewicki, <cite title>Network: Computation in Neural Systems, Vol. 9, No. 4.
                (1998), pp.
                53-78</cite>
              </footer>
            </blockquote>
          </li>
          <li class="list-group-item">
            <blockquote style="font-size:1em; margin: auto;">
              <a href="http://www.sciencedirect.com/science/article/pii/S0959438811001565">
                &quot;Towards reliable spike-train recordings from thousands of neurons with
                multielectrodes&quot;</a>
              <footer>G.T. Einevoll, F. Franke, E. Hagen, C. Pouzat, K.D. Harris, <cite title>Curr Opin
                Neurobiol.,
                Vol. 22, No. 1
                (2011 Oct 22), pp. 11-17</cite>
              </footer>
            </blockquote>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <p class="text-justify">The accuracy of spike sorting can have a major impact on the quality of downstream analyses
    based upon the extracted spike data. Evidently, it is interesting to quantify how accurate a spike sorting
    algorithm
    works. It will allow those working with spike data in downstream analyses to quantify confidence in their input
    data, facilitate the development of better spike sorting methods and allow experimenter to take informed choices
    when searching for spike sorting methods for new projects.</p>

  <p class="text-justify">Until now, there are no standard benchmark datasets or methods for evaluation, and those in
    existence have only been applied singularly. This service aims to break with that habit and wants to build a
    comprehensive performance landscape for the filed of spike sorting. To achieve that goal we rely on community
    contribution of datasets and spike sorting results. Results that users want to publish on this platform will then be
    available to the neuroscience community.</p>
</div>
