{% load i18n %}

{% if is_paginated %}
  <ul class="pagination pagination-sm">
    {% if page_obj.has_previous %}
      <li><a href="?page=1">
        <i class="fa fa-fast-backward"></i>
      </a></li>
      <li><a href="?page={{ page_obj.previous_page_number }}">
        <i class="fa fa-backward"></i>
      </a></li>
    {% else %}
      <li class="disabled"><a href="#">
        <i class="fa fa-fast-backward"></i>
      </a></li>
      <li class="disabled"><a href="#">
        <i class="fa fa-backward"></i>
      </a></li>
    {% endif %}
    {% for i in paginator.page_range %}
      <li{% if page_obj.number == i %} class="active"{% endif %}>
        <a href="?page={{ i }}">{{ i }}</a>
      </li>
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">
        <i class="fa fa-forward"></i>
      </a></li>
      <li><a href="?page={{ page_obj.paginator.num_pages }}">
        <i class="fa fa-fast-forward"></i>
      </a></li>
    {% else %}
      <li class="disabled"><a href="#">
        <i class="fa fa-forward"></i>
      </a></li>
      <li class="disabled"><a href="#">
        <i class="fa fa-fast-forward"></i>
      </a></li>
    {% endif %}
  </ul>
{% endif %}
