{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block header %}
  <div class="jumbotron">
    {% block logo_pre_main %}{% endblock %}
    {% block logo_main %}<img src="{% static "img/logo_gnode.svg" %}" title="G-Node">{% endblock %}
    <div class="pull-right  hidden-xs hidden-sm">
      <div class="row pull-right" style="height:5em; padding:.5em;">
        <img src="{% static "img/logo_tub.png" %}" title="TUB" style="max-height: 100%;">
        <img src="{% static "img/logo_bel.png" %}" title="D-BSSE" style="max-height: 100%;">
      </div>
      <span class="clearfix"></span>

      <div class="row pull-right" style="height:3em; padding:.5em;">
        <img src="{% static "img/logo_incf.png" %}" title="INCF" style="max-height: 100%;">
        <img src="{% static "img/logo_bmbf.png" %}" title="BMBF" style="max-height: 100%;">
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{% trans "Mission statement" %}</h3>
    </div>
    <div class="panel-body">
      {% include "base/_intro_mission.html" %}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{% trans "How the service works" %}</h3>
    </div>
    <div class="panel-body">
      {% include "base/_intro_carousel.html" %}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{% trans "Components of the service" %}</h3>
    </div>
    <div class="panel-body">
      {% include "base/_intro_components.html" %}
    </div>
  </div>
{% endblock %}
