{% extends "base.html" %}

{% load i18n %}

{% block heading %}
  <h1 xmlns="http://www.w3.org/1999/html">{% block title %}{% trans "Imprint" %} {% endblock %}</h1>
{% endblock %}

{% block content %}
  <section>
    <h4>Verantwortlicher gem&auml;&szlig; §6 TDG</h4>

    <p>
      Dr. Thomas Wachtler-Kulla<br/>
      Biozentrum<br/>
      Ludwig-Maximilians-Universit&auml;t M&uuml;nchen<br/>
      Großhaderner Straße 2 <br/>
      82152 Martinsried-Planegg<br/>
      Germany<br/>
    </p>

    <p>
      e-mail: wachtler&#123;at&#125;bio&#123;dot&#125;lmu&#123;dot&#125;de<br/>
      Tel: +49 89 2180 74810<br/>
      Fax: +49 89 2180 74803<br/>
    </p>

    <h4>Inhaltlich Verantwortlicher gem&auml;&szlig; §10 Absatz 3 MDStV</h4>

    <p>
      Dr. Thomas Wachtler-Kulla<br/>
      (Anschrift wie oben)<br/>
    </p>

    <h4>Haftungshinweis</h4>

    <p>
      Trotz sorgf&auml;ltiger inhaltlicher Kontrolle &uuml;bernehmen wir keine Haftung f&uuml;r <br/>
      die Inhalte externer Links. F&uuml;r den Inhalt der verlinkten Seiten sind <br/>
      ausschlie&szlig;lich deren Betreiber verantwortlich.<br/>
    </p>
  </section>
{% endblock %}
